STL_alg/cmake-build-debug
STL_alg/*.idea*
c++11_learn/cmake-build-debug
c++11_learn/*.idea*
mysql_uuid/cmake-build-debug
mysql_uuid/*.idea*
cmake_learn/cmake-build-debug
cmake_learn/*.idea*
project/chejian-refactor/cmake-build-debug
project/chejian-refactor/*.idea*
algorithm_practice/cmake-build-debug
algorithm_practice/*.idea*
net_learn/cmake-build-debug
net_learn/*.idea*
net_learn/cmake-build-debug_remote
programming_learn/*.idea*   
programming_learn/cmake-build-debug
programming_learn/cmake-build-debug_remote_tools
apue.3e/*.idea*   
apue.3e/cmake-build-debug
apue.3e/cmake-build-remote_debug_tool
design_pattern/*.idea*   
design_pattern/cmake-build-debug
design_pattern/cmake-build-debug_remote_tools
go_learn/*.idea*   
golang_learn/*.idea*
*.o
*.idea*
*cmake-build*